@model FoodApp.Models.Dtos.ShoppingCartDto
﻿@using Microsoft.Extensions.Options
@inject IOptions<FoodApp.Models.Models.StripeSettings> Stripe


<div class="container">
    <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
        <article>
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-locale="auto"
                    data-description="Food Application Payment"
                    data-amount="@(Model.TotalPrice * 100)"
                    data-label="Pay $@Model.TotalPrice"
                    data-email="@User.Identity?.Name">
            </script>

        </article>
    </form>
    <div class="container text-center">
        <h2>Your Shopping Cart</h2>
    </div>
    <div class="row m-5">
        <table class="table">
            <thead class="table table-striped table-dark">
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Ticket Price</th>
                    <th scope="col">Total</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.CookingClassesInShoppingCart.Count; i++)
                {
                    var item = Model.CookingClassesInShoppingCart.ToArray()[i];

                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@item.CookingClasses.Link</td>
                        <td>@item.CookingClasses.Price</td>
                        <td>@(item.CookingClasses.Price)</td>
                        <td>
@*                            <a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-billetId="@item.CurrentBillet.Id" class="btn btn-outline-danger">Delete</a>
*@                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">Total Price:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">@Model.TotalPrice $</th>
                </tr>
            </tfoot>
        </table>
        @if(Model.TotalPrice > 0)
        {
            <div class="row m-auto">
                <a asp-controller="ShoppingCart" asp-action="OrderNow" class="btn btn-success">Pay now</a>
            </div>
        }
        else
        {
            <div class="row m-auto">
                <a asp-controller="ShoppingCart" asp-action="OrderNow" class="btn btn-success disabled">Pay now</a>
            </div>
        }

    </div>
</div>